/*
 * CSS for Event registration form
 */

/* REGISTRATION FORM */
.eventsreg-container {
    background-color: lightgrey;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eventsreg-container .eventsreg-preview {
    margin: 20px;
    background-color: lightcoral;
}

.eventsreg-container .eventsreg-intro {
    margin: 20px;
    background-color: lightsalmon;
}

.eventsreg-container .eventsreg-block {
    margin: 20px;
    background-color: lightgreen;
}

.eventsreg-container .eventsreg-block .eventsreg-title {
    background-color: lightcyan;
}

.eventsreg-container .eventsreg-block .eventsreg-content {
    border: solid 2px lightcyan;
}

.eventsreg-container .eventsreg-footer {
    margin: 20px;
    background-color: lemonchiffon;
}

.eventsreg-container .eventsreg-button {
    margin: 20px;
}
